.todoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 100%;
    height: 90%;
}

.root {
    position: relative;
    width: 100%;
    height: 90%;
}

.input {
    display: flex;
    width: 40%;
    align-items: center;
}

.inputContainer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}